<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/sass/main.css">
    <script src="https://kit.fontawesome.com/10be4043bf.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./inc/header.ejs') %>
<<<<<<< HEAD
    <div class="container-fluid" style="margin-top: 78px;">
=======
    <div class="contianer-fluid bg-light" style="margin-top: 78px;">
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b
        <div class="row">
            <div class="col-lg-12">
                <%- include('./inc/messages.ejs') %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
<<<<<<< HEAD
                <ul class="list-group mt-3">
                    <li class="list-group-item">
                        <a href="/users/studio">Content</a>
=======
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/users/dashboard">Content</a>
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b
                    </li>
                </ul>
            </div>
            <div class="col-lg-10">
<<<<<<< HEAD
                <div class="card mt-3 border-0">
                    <div class="card-body">
                        <h5 class="card-title">Content</h5>
                        <a class="float-right mr-3" href="/videos/upload" style="margin-top: -40px;">+ Add</a>
                        <hr />
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item" style="min-width: 20%; max-width: 20%;">Date Uploaded</li>
                            <li class="list-group-item" style="min-width: 50%; max-width: 50%;">Video Name</li>
                            <li class="list-group-item" style="min-width: 10%; max-width: 10%;">Views</li>
                            <li class="list-group-item" style="min-width: 10%; max-width: 10%;">Likes/Dislikes</li>
                            <li class="list-group-item" style="min-width: 10%; max-width: 10%;">Actions</li>
                        </ul>
                        <% for(var v = 0; v<videos.length; v++) { %>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item" style="min-width: 20%; max-width: 20%;"><%- videos[v].upload_date.strToDate() %></li>
                                <li class="list-group-item" style="min-width: 50%; max-width: 50%;"><%- videos[v].title %></li>
                                <li class="list-group-item" style="min-width: 10%; max-width: 10%;"><%- videos[v].views.length %></li>
                                <li class="list-group-item" style="min-width: 10%; max-width: 10%;"><%- videos[v].likes.length %> / <%- videos[v].dislikes.length %></li>
                                <li class="list-group-item" style="min-width: 10%; max-width: 10%;">Actions</li>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
=======

            </div>
        </div>
    </div>
>>>>>>> b3dd29178d92ba82d65cc483cace506b4525cb7b
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>